<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:oauth="http://www.springframework.org/schema/security/oauth2" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2-1.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
    http://www.springframework.org/schema/data/mongo
    http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
    ">

	<context:property-placeholder location="classpath:mobility.properties" />

  <http xmlns="http://www.springframework.org/schema/security" pattern="/css/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/img/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/js/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/fonts/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/lib/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/templates/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/webplanner/**" security="none"/>

  <http xmlns="http://www.springframework.org/schema/security" pattern="/login/**" security="none"/>
	 
  <http xmlns="http://www.springframework.org/schema/security" pattern="/cachestatus/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/partialcachestatus/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/getcachestatus/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/getcacheupdate/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/plansinglejourney/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/planrecurrent/**" security="none"/>

  <http xmlns="http://www.springframework.org/schema/security" pattern="/bikesharing/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/getbikesharingbyagency/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/getparkingsbyagency/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/getroadinfobyagency/**" security="none"/>

  <http xmlns="http://www.springframework.org/schema/security" pattern="/getroutes/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/getstops/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/geostops/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/gettimetable/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/timetable/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/getlimitedtimetable/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/gettransittimes/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/gettransitdelays/**" security="none"/>

  <http xmlns="http://www.springframework.org/schema/security" pattern="/routesDB/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/versions/**" security="none"/>
  
  <http xmlns="http://www.springframework.org/schema/security" pattern="/announcements/**" security="none"/>
  
  <http xmlns="http://www.springframework.org/schema/security" pattern="/getTaxiStation/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/getTaxiAgencyContacts/**" security="none"/>
  
  <http xmlns="http://www.springframework.org/schema/security" pattern="/gtfs/**" security="none"/>
  
  <http xmlns="http://www.springframework.org/schema/security" pattern="/gamification/geolocations/**" security="none"/>

  <http xmlns="http://www.springframework.org/schema/security" pattern="/gamification/r353nd/**" security="none"/>
  
	<http xmlns="http://www.springframework.org/schema/security" pattern="/policies/console/**" auto-config="true" use-expressions="true">
		<anonymous enabled="false" />
        <security:intercept-url  pattern="/policies/console/**" access="isFullyAuthenticated()" />
		<security:form-login login-page="/web/login" authentication-success-handler-ref="loginSuccessHandler" login-processing-url="/web/j_spring_security_check"  />
		<security:logout logout-success-url="/policies/console" logout-url="/web/notification/j_spring_security_logout" />
	</http>    
  
  <http xmlns="http://www.springframework.org/schema/security" pattern="/policies/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/policies/parametric/**" security="none"/>
  <http xmlns="http://www.springframework.org/schema/security" pattern="/policies/scripted/**" security="none"/>
  
  <!-- <http xmlns="http://www.springframework.org/schema/security" pattern="/servicedata/**" security="none"/> -->
  
  
<!-- 	<http xmlns="http://www.springframework.org/schema/security" pattern="/web/**" auto-config="true" use-expressions="true">
		<anonymous enabled="false" />
        <security:intercept-url  pattern="/web/notification/**" access="isFullyAuthenticated()" />
		<security:form-login login-page="/web/login" default-target-url="/web/notification" login-processing-url="/web/j_spring_security_check"  />
		<security:logout logout-success-url="/web/notification" logout-url="/web/notification/j_spring_security_logout" />
	</http>     -->
	
	<http xmlns="http://www.springframework.org/schema/security" pattern="/web/**" auto-config="true" use-expressions="true">
		<anonymous enabled="false" />
        <security:intercept-url  pattern="/web/notification/**" access="isFullyAuthenticated()" />
		<security:form-login login-page="/web/login" authentication-success-handler-ref="loginSuccessHandler" login-processing-url="/web/j_spring_security_check"  />
		<security:logout logout-success-url="/web/notification" logout-url="/web/notification/j_spring_security_logout" />
	</http>    	
	
	<http xmlns="http://www.springframework.org/schema/security" pattern="/gamification/console/**" auto-config="true" use-expressions="true">
		<anonymous enabled="false" />
        <security:intercept-url  pattern="/gamification/console/**" access="isFullyAuthenticated()" />
		<security:form-login login-page="/web/login" authentication-success-handler-ref="loginSuccessHandler" login-processing-url="/web/j_spring_security_check"  />
		<security:logout logout-success-url="/gamification/console" logout-url="/web/notification/j_spring_security_logout" />
	</http>   
	

	<http xmlns="http://www.springframework.org/schema/security" pattern="/servicedata/**" create-session="stateless">
		<intercept-url pattern="/servicedata/**" access="ROLE_USER" />
		<http-basic />
	</http>		
	
	<http create-session="never" entry-point-ref="oauthAuthenticationEntryPoint"
		 xmlns="http://www.springframework.org/schema/security" authentication-manager-ref="authenticationManager">
		<anonymous enabled="false" />
        <sec:intercept-url  pattern="/itinerary" access="IS_AUTHENTICATED_FULLY" />
		<custom-filter ref="resourceFilter" before="PRE_AUTH_FILTER" />
		<access-denied-handler ref="oauthAccessDeniedHandler" />
	</http>
 

    <bean id="oauthAuthenticationEntryPoint" class="org.springframework.security.oauth2.provider.error.OAuth2AuthenticationEntryPoint"/>
    <bean id="oauthAccessDeniedHandler" class="org.springframework.security.oauth2.provider.error.OAuth2AccessDeniedHandler" />
	
	<bean id="resourceFilter" class="eu.trentorise.smartcampus.resourceprovider.filter.ResourceFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
    </bean>	

	<bean id="tokenStore" class="org.springframework.security.oauth2.provider.token.JdbcTokenStore">
        <constructor-arg ref="dataSource" />
    </bean>
	
	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="resourceAuthenticationProvider" class="eu.trentorise.smartcampus.resourceprovider.filter.ResourceAuthenticationProvider">
        <property name="tokenStore" ref="tokenStore"/>
        <property name="authServices" ref="authServices"/>
    </bean>

    <bean id="authServices" class="eu.trentorise.smartcampus.resourceprovider.jdbc.JdbcServices">
        <constructor-arg ref="dataSource"/>
    </bean>

	<bean id="appSetup" class="eu.trentorise.smartcampus.mobility.security.AppSetup">
    </bean>      
	<bean id="tokenHelper" class="eu.trentorise.smartcampus.mobility.util.TokenHelper">
    </bean>         
    
	<bean id="customAuthenticationProvider" class="eu.trentorise.smartcampus.mobility.security.CustomAuthenticationProvider">
    </bean>  
    
    <bean id="loginSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
    	<property name="useReferer" value="true"/>
    </bean>    
    
	<security:authentication-manager alias="authenticationManager">
	        <security:authentication-provider ref="customAuthenticationProvider" />
	        <security:authentication-provider ref="resourceAuthenticationProvider" />
			<security:authentication-provider>
            	<security:user-service>
                	<security:user name="${services.user}" password="${services.password}" authorities="ROLE_USER" />
            	</security:user-service>
        	</security:authentication-provider>	        
	        
	</security:authentication-manager>    
	
	<context:component-scan base-package="eu.trentorise.smartcampus.resourceprovider"/>

	<mvc:annotation-driven />
		
</beans>
