feed:
  entries: 50

communicatorURL: http://localhost:8080/core.communicator

aacURL: http://localhost:8080/aac/

mobilityURL: http://localhost:8080/core.mobility

otp:
  url: http://localhost:7070

smartcampus:
  clientId: 
  clientSecret: 

statlogging:
  dbname: mobility-logging
  enabled: true
  excluded: AlertDelay
  samplingPeriod: 15

smartplanner:
  router: trentino

geolocations:
  db:
    name: background-geolocation.db
    dir: db
    
gamification:
  url: http://localhost:8080/gamification/
  secretKey1: 
  secretKey2: 

mail:
  username: 
  password: 
  host: smtp.gmail.com
  port: 465
  protocol: smtps   
  from: 
  to: 
  send: false
  subject: Gamification Notification  
  redirectUrl: http://localhost:8010/core.mobility/gamificationweb
  
validation:
  shapefolder:
  
weeklyDataDir:

externalDataDir:

certificatesDir: 

management:
  port: 7011  
  context-path: /manage          

swagger:
  title: 
    PublicTransport: Mobility Data Info 
  description: 
    PublicTransport: Mobility Data Information APIs 
  version: 1.0.0
  license: Apache License, Version 2.0
  licenseUrl: http://www.apache.org/licenses/LICENSE-2.0
  contact:
    name:  Smart Community Lab
    url: www.smartcommunitylab.it
    email: info@smartcommunitylab.it