feed:
  entries: 50

communicatorURL: http://localhost:8080/core.communicator

aacURL: http://localhost:8080/aac/

mobilityURL: http://localhost:8080/core.mobility

smartplannerURL: https://dev.smartcommunitylab.it/smart-planner2/

smartcampus:
  clientId: 
  clientSecret: 

statlogging:
  dbname: mobility-logging
  enabled: true
  excluded: AlertDelay
  samplingPeriod: 15

smartplanner:
  router: trentino

geolocations:
  db:
    name: background-geolocation.db
    dir: db
    
gamification:
  url: http://localhost:8080/gamification/
  secretKey1: 
  secretKey2: 

mail:
  username: 
  password: 
  host: smtp.gmail.com
  port: 465
  protocol: smtps   
  from: 
  to: 
  send: false
  subject: Gamification Notification  
  redirectUrl: http://localhost:8010/core.mobility/gamificationweb
  
validation:
  shapefolder:
  
weeklyDataDir:

externalDataDir:

certificatesDir: 

imagesDir:

management:
  port: 7011  
  context-path: /manage       
  
spring:
  http:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB     
