<div id="compiledmodal" class="modal fade" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="nav ">
					<ul class="nav navbar-left">
						<h2 class="modal-title">{{actionMsg}} politica{{(compileform.name ? (": " + compileform.name) : "")}}</h2>
					</ul>
					<ul class="nav nav-pills navbar-right">
						<li>
							<div class=" form-group">
								<span ng-show="!advancedforms" class="badge tooltip-wide tooltip-Avanzata"></span>
								<button ng-show="!advancedforms" class="btn btn-default navbar-btn" ng-click="advancedforms=true;">Modalità avanzata</button>
							</div>
						</li>
						<li>
							<div class=" form-group">
								<span ng-show="advancedforms" class="badge tooltip-wide tooltip-Avanzata"></span>							
								<button ng-show="advancedforms" class="btn btn-default navbar-btn" ng-click="advancedforms=false;">Modalità semplificata</button>
							</div>
						</li>
						<li>
							<div class=" form-group">
								<button class="btn btn-info navbar-btn" ng-click="saveCompiledPolicy()">Salva</button>
							</div>
						</li>
						<li>
							<div class=" form-group">
								<button class="btn btn-default navbar-btn" ng-click="clearEdit()">Cancella</button>
							</div>
						</li>
						<li>
							<div class=" form-group">
								<button class="btn btn-default navbar-btn" ng-click="closeEdit()">Chiudi</button>
							</div>
						</li>
					</ul>
				</div>
				<div>
					<span ng-bind="message" class="notification-ok"></span> <span ng-bind="error" class="notification-error"></span> <span>&nbsp;</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="tabbable">
					<ul class="nav nav-tabs nav-justified">
						<li>
							<button class="btn navbar-btn" data-toggle="tab" data-target="#descriptiontab" style="width: 95%;" ng-click="resetStyles(true, false, false, false)"
								ng-style="definitionstyle"
							>DESCRIZIONE</button>
						</li>
						<li>
							<button class="btn navbar-btn" data-toggle="tab" data-target="#preparationtab" style="width: 95%;" ng-click="resetStyles(false, true, false, false)"
								ng-style="preparationstyle"
							>PREPARAZIONE</button>
						</li>
						<li>
							<button class="btn navbar-btn" data-toggle="tab" data-target="#evaluatetab" style="width: 95%;" ng-click="resetStyles(false, false, true, false)"
								ng-style="evaluationstyle"
							>VALUTAZIONE</button>
						</li>
						<li>
							<button class="btn navbar-btn" data-toggle="tab" data-target="#extractiontab" style="width: 95%;" ng-click="resetStyles(false, false, false, true)"
								ng-style="extractionstyle"
							>ESTRAZIONE</button>
						</li>
					</ul>
					<div class="tab-content">
						<div ng-include="'../templates/descriptiontab.html'" id="descriptiontab" class="tab-pane"></div>
						<div ng-include="'../templates/preparationtab.html'" id="preparationtab" class="tab-pane"></div>
						<div ng-include="'../templates/evaluatetab.html'" id="evaluatetab" class="tab-pane"></div>
						<div ng-include="'../templates/extractiontab.html'" id="extractiontab" class="tab-pane"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div id="newgroupdmodal" class="modal fade" role="dialog" style="z-index: 100000;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="nav ">
					<ul class="nav navbar-left">
						<h2 class="modal-title">Crea gruppo</h2>
					</ul>
				</div>
			</div>
			<div class="modal-body">
				<div class="nav">
					<ul class="nav nav-pills navbar-left">
						<div>
							<p>
							<h4>
								<strong>*Nome</strong>
							</h4>
							</p>
						</div>
					</ul>
					<ul class="nav nav-pills navbar-right">
						<li>
							<div class=" form-group">
								<button class="btn btn-info navbar-btn" data-dismiss="modal" ng-click="addGroup(group)">Salva</button>
							</div>
						</li>
						<li>
							<div class="form-group">
								<button class="btn btn-default navbar-btn" data-dismiss="modal">Chiudi</button>
							</div>
						</li>
					</ul>
				</div>
				<input class="form-control" type="text" ng-model="group.name" name="name" />
				<ul class="nav nav-pills ">
					<li role="presentation">
						<div class="dropdown" style="width: 400px">
							<label>Numero di risultati:</label>
							<button class="btn btn-default navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ group.maxEntries }}<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="num in [1,2,3,4,5]" ng-click="group.maxEntries = num"><a><strong>{{ num }}</strong></a></li>
							</ul>
						</div>
					</li>
					<li role="presentation">
						<div class="dropdown" style="width: 200px">
							<label>Ordina per</label>
							<button class="btn btn-default navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ group.sortType }}<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="stype in stypes" ng-click="group.sortType = stype"><a><strong>{{ stype }}</strong></a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- <div id="helpmodal" class="modal modal-help fade" role="dialog"  data-backdrop="true">
	<div class="modal-dialog dialog-sm">
		<div class="modal-content">
			<div class="modal-body">
				<div>
					<div ng-include="'../templates/help/rulehelp.html'"></div>
				</div>
			</div>
						<button>X</button>
		</div>
	</div>
</div> -->
