<div id="compiledmodal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="nav navbar-default">
					<ul class="nav navbar-nav  navbar-left">
						<h2 class="modal-title">{{actionMsg}} politica</h2>
					</ul>
					<ul class="nav nav-pills navbar-right">
						<li>
							<div class=" form-group">
								<button class="btn btn-primary navbar-btn"
									ng-click="saveCompiledPolicy()">Salva</button>
							</div>
						</li>
						<li>
							<div class=" form-group">
								<button class="btn btn-primary navbar-btn" data-dismiss="modal">
									Chiudi</button>
							</div>
						</li>
					</ul>

				</div>
				<div>
					<span ng-bind="message" class="notification-ok"></span> <span
						ng-bind="error" class="notification-error"></span> <span>&nbsp;</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="tabbable">
					<ul class="nav nav-tabs" id="policytabs">

						<!-- <li role="presentation" class="active"><a href="#descriptiontab" aria-controls="description" role="tab" data-toggle="tab">*Generale</a></li> -->


						<li>
							<button class="btn btn-default navbar-btn" data-toggle="tab"
								data-target="#descriptiontab">Generale</button>
						</li>
						<li>
							<button class="btn btn-default navbar-btn" data-toggle="tab"
								data-target="#createtab"
								ng-disabled="compileform.modifiedGenerate">
								Crea <span class="badge">{{ compileform.create.length }}</span>
							</button>
						</li>
						<li>
							<button class="btn btn-default navbar-btn" data-toggle="tab"
								data-target="#modifytab"
								ng-disabled="compileform.modifiedGenerate">
								Modifica <span class="badge">{{ compileform.modify.length
									}}</span>
							</button>
						</li>
						<li>
							<button class="btn btn-default navbar-btn" data-toggle="tab"
								data-target="#evaluatetab"
								ng-disabled="compileform.modifiedEvaluate">
								Valuta <span class="badge">{{ compileform.evaluate.length
									}}</span>
							</button>
						</li>
						<li>
							<button class="btn btn-default navbar-btn" data-toggle="tab"
								data-target="#filtertab"
								ng-disabled="compileform.modifiedFilter">
								Filtri <span class="badge">{{
									compileform.filter.formulas.length }}</span>
							</button>
						</li>
						<li>
							<button class="btn btn-default navbar-btn" data-toggle="tab"
								data-target="#groupstab">
								Gruppi <span class="badge">{{ compileform.groups.length
									}}</span>
							</button>
						</li>

						<li>
							<button class="btn btn-default navbar-btn" data-toggle="tab"
								data-target="#generatecodetab">
								Genera <span class="badge">{{
									compileform.generateCode.length }}</span>
							</button>
						</li>
						<li>
							<button class="btn btn-default navbar-btn" data-toggle="tab"
								data-target="#evaluatecodetab">
								Valuta <span class="badge">{{
									compileform.evaluateCode.length }}</span>
							</button>
						</li>
						<li>
							<button class="btn btn-default navbar-btn" data-toggle="tab"
								data-target="#extractcodetab">
								Estrai <span class="badge">{{
									compileform.extractCode.length }}</span>
							</button>
						</li>
						<li>
							<button class="btn btn-default navbar-btn" data-toggle="tab"
								data-target="#filtercodetab">
								Filtra <span class="badge">{{
									compileform.filterCode.length }}</span>
							</button>
						</li>
					</ul>


					<div class="tab-content">
						<!-- <ng-form id="masterform"> -->

						<div id="generatecodetab" class="tab-pane">
							<h3>Genera (codice)</h3>
							<form id="createcode-form">
								<textarea class="form-control" type="text" rows="30"
									ng-model="compileform.generateCode" ng-trim="false"
									name="generateCode"
									ng-readonly="!currentPolicy.editable || !compileform.modifiedGenerate" />
								</textarea>
							</form>
						</div>

						<div id="evaluatecodetab" class="tab-pane">
							<h3>Valuta (codice)</h3>
							<form id="evaluatecode-form">
								<textarea class="form-control" type="text" rows="30"
									ng-model="compileform.evaluateCode" ng-trim="false"
									name="evaluateCode"
									ng-readonly="!currentPolicy.editable || !compileform.modifiedEvaluate" />
								</textarea>
							</form>
						</div>
						<div id="extractcodetab" class="tab-pane">
							<h3>Estrai (codice)</h3>
							<form id="extractcode-form">
								<textarea class="form-control" type="text" rows="30"
									ng-model="compileform.extractCode" ng-trim="false"
									name="extractCode"
									ng-readonly="!currentPolicy.editable || !compileform.modifiedExtract" />
								</textarea>
							</form>
						</div>
						<div id="filtercodetab" class="tab-pane">
							<h3>Genera (codice)</h3>
							<form id="filtercode-form">
								<textarea class="form-control" type="text" rows="30"
									ng-model="compileform.filterCode" ng-trim="false"
									name="filterCode"
									ng-readonly="!currentPolicy.editable || !compileform.modifiedFilter" />
								</textarea>
							</form>
						</div>




						<div id="descriptiontab" class="tab-pane">
							<h3>Generale</h3>
							<form id="description-form">
								<label>*Nome</label><input class="form-control" type="text"
									ng-model="compileform.name" name="policyname" required /> <label>*Descrizione</label><input
									class="form-control" type="text"
									ng-model="compileform.description" name="policydescription"
									required /><br /> <input type="checkbox"
									ng-model="compileform.modifiedGenerate" name="modifiedGenerate">
								<label>Edita "Genera"</label> <input type="checkbox"
									ng-model="compileform.modifiedEvaluate" name="modifiedEvaluate">
								<label>Edita "Valuta"</label> <input type="checkbox"
									ng-model="compileform.modifiedExtract" name="modifiedExtract">
								<label>Edita "Estrai"</label> <input type="checkbox"
									ng-model="compileform.modifiedFilter" name="modifiedFilter">
								<label>Edita "Filtra"</label> <br /> <input type="checkbox"
									ng-model="compileform.draft" name="modifiedFilter"> <label>Bozza</label>
							</form>
						</div>

						<div id="createtab" class="tab-pane">
							<h3>Crea</h3>

							<div>
								<ul class="list-group">
									<form id="create-form">
										<li class="list-group-item"
											ng-repeat="create in compileform.create track by $index">

											<ul class="nav navbar-sm navbar-right">
												<button class="btn btn-default navbar-btn"
													ng-show="create.enabled" ng-click="create.enabled = false;">
													<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
												</button>
												<button class="btn btn-default navbar-btn"
													ng-show="!create.enabled" ng-click="create.enabled = true;">
													<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
												</button>
												<!-- 												<button class="btn btn-danger navbar-btn"
													ng-click="copyParametric(parametric)">
													<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
												</button>	 -->
												<button class="btn btn-danger navbar-btn"
													ng-click="removeCreate(create)">
													<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												</button>
											</ul>
											<div class="form-group">
												<h4>Condizione:</h4>
												<br /> <label>Formula</label><input class="form-control"
													type="text" ng-model="create.condition.formula"
													name="createformula" required /> <br />
												<h4>Parametri richiesta aggiuntiva:</h4>
												<br /> <input type="checkbox"
													ng-model="create.action.promoted" name="promoted">
												<label>Sostenibile </label> </input> <input type="checkbox"
													ng-model="create.action.wheelchair" name="wheelchair">
												<label>Accessibile </label> </input> <br />


												<!-- <ul class="nav nav-pills" > -->

													<label>
														<div class="dropdown">
															Nuovo TType
															<button class="btn btn-default navbar-btn "
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{ create.action.newTType }}<span class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="ttype in ttypes"
																	ng-click="create.action.newTType = ttype"><a><strong>{{
																			ttype }}</strong></a>
															</ul>
														</div>
														</label>
													
													<a style="padding: 10px"></a>
													<label>
														<div class="dropdown">
															Nuovo RType
															<button class="btn btn-default navbar-btn"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{ create.action.newRType }}<span class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="rtype in rtypes"
																	ng-click="create.action.newRType = rtype"><a><strong>{{
																			rtype }}</strong></a>
															</ul>
														</div>
													</label>
													<label>
														<div class="dropdown">
															Numero di richieste
															<button class="btn btn-default navbar-btn"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{ create.action.newItineraryNumber }}<span
																	class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="num in [null,1,2,3,4,5]"
																	ng-click="create.action.newItineraryNumber = num"><a><strong>{{
																			num }}</strong></a>
															</ul>
														</div>
													</label>

													<label>
														<div class="dropdown">
															Gruppo
															<button class="btn btn-default navbar-btn"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{ create.action.planningResultGroupName }}<span
																	class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="groupName in getGroupNames()"
																	ng-click="create.action.planningResultGroupName = groupName"><a><strong>{{
																			groupName }}</strong></a>
															</ul>
														</div>
														</label>
														<br/>
													
															<label>MaxWalkDistance<input 
																type="text" class="form-control"
																ng-model="create.action.maxWalkDistance"
																name="maxWalkDistance" size="8" />
																</label>
														
													<label>MaxTotalWalkDistance<input
														class="form-control" type="text"
														ng-model="create.action.maxTotalWalkDistance"
														name="maxTotalWalkDistance" size="8"/>
														</label>
													<label>MaxChanges<input
														class="form-control" type="text"
														ng-model="create.action.maxChanges"
														name="maxChanges" size="2" />
														</label>
													<label>
														<div class="dropdown">
															ExtraTransport
															<button class="btn btn-default navbar-btn "
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{
																create.action.extraTransport
																}}<span class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="ttype in ttypes"
																	ng-click="create.action.extraTransport = ttype"><a><strong>{{ ttype }}</strong></a>
															</ul>
														</div>
														</label>
													
											</div>
										</li>
										</form>
								</ul>
							</div>
							
						

						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<ul class="nav navbar-sm navbar-right">
									<button class="btn btn-default navbar-btn"
										ng-click="addCreate()">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
								</ul>
							</div>
						</nav>

					</div>


					<div id="modifytab" class="tab-pane">
						<h3>Modifica</h3>
						<div>
							<ul class="list-group">
								<form id="modify-form">
									<li class="list-group-item"
										ng-repeat="modify in compileform.modify track by $index">
										<ul class="nav navbar-sm navbar-right">
											<button class="btn btn-default navbar-btn"
												ng-show="modify.enabled" ng-click="modify.enabled = false;">
												<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
											</button>
											<button class="btn btn-default navbar-btn"
												ng-show="!modify.enabled" ng-click="modify.enabled = true;">
												<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
											</button>
											<!-- 												<button class="btn btn-danger navbar-btn"
													ng-click="copyParametric(parametric)">
													<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
												</button>	 -->
											<button class="btn btn-danger navbar-btn"
												ng-click="removeModify(modify)">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>
										</ul>

										<div class="form-group">
											<h4>Condizione:</h4>
											<br /> <label>Formula</label><input class="form-control"
												type="text" ng-model="modify.condition.formula"
												name="modifyformula" required /> <br />
											<h4>Nuovi parametri richiesta esistente:</h4>
											<br /> <input type="checkbox"
												ng-model="modify.action.promoted" name="promoted"> <label>Sostenibile
											</label> </input> <input type="checkbox" ng-model="modify.action.wheelchair"
												name="wheelchair"> <label>Accessibile </label> </input> <br />

											<!-- <ul class="nav nav-pills" > -->

													<label>
														<div class="dropdown">
															Nuovo TType
															<button class="btn btn-default navbar-btn "
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{ modify.action.newTType }}<span class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="ttype in ttypes"
																	ng-click="modify.action.newTType = ttype"><a><strong>{{
																			ttype }}</strong></a>
															</ul>
														</div>
														</label>
													
													<a style="padding: 10px"></a>
													<label>
														<div class="dropdown">
															Nuovo RType
															<button class="btn btn-default navbar-btn"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{ modify.action.newRType }}<span class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="rtype in rtypes"
																	ng-click="modify.action.newRType = rtype"><a><strong>{{
																			rtype }}</strong></a>
															</ul>
														</div>
													</label>
													<label>
														<div class="dropdown">
															Numero di richieste
															<button class="btn btn-default navbar-btn"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{ modify.action.newItineraryNumber }}<span
																	class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="num in [null,1,2,3,4,5]"
																	ng-click="modify.action.newItineraryNumber = num"><a><strong>{{
																			num }}</strong></a>
															</ul>
														</div>
													</label>

													<label>
														<div class="dropdown">
															Gruppo
															<button class="btn btn-default navbar-btn"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{ modify.action.planningResultGroupName }}<span
																	class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="groupName in getGroupNames()"
																	ng-click="modify.action.planningResultGroupName = groupName"><a><strong>{{
																			groupName }}</strong></a>
															</ul>
														</div>
														</label>
														<br/>
													
															<label>MaxWalkDistance<input 
																type="text" class="form-control"
																ng-model="modify.action.maxWalkDistance"
																name="maxWalkDistance" size="8" />
																</label>
														
													<label>MaxTotalWalkDistance<input
														class="form-control" type="text"
														ng-model="modify.action.maxTotalWalkDistance"
														name="maxTotalWalkDistance" size="8"/>
														</label>
													<label>MaxChanges<input
														class="form-control" type="text"
														ng-model="modify.action.maxChanges"
														name="maxChanges" size="2" />
														</label>
													<label>
														<div class="dropdown">
															ExtraTransport
															<button class="btn btn-default navbar-btn "
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{
																modify.action.extraTransport
																}}<span class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="ttype in ttypes"
																	ng-click="modify.action.extraTransport = ttype"><a><strong>{{ ttype }}</strong></a>
															</ul>
														</div>
														</label>
													
											</div>
										</li>
										</form>
							</ul>
						</div>

						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<ul class="nav navbar-sm navbar-right">
									<button class="btn btn-default navbar-btn"
										ng-click="addModify()">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
								</ul>
							</div>
						</nav>

					</div>



					<div id="evaluatetab" class="tab-pane">
						<h3>Valuta</h3>
						<div>
							<ul class="list-group">
								<form id="evaluate-form">
									<li class="list-group-item"
										ng-repeat="evaluate in compileform.evaluate track by $index">
										<ul class="nav navbar-sm navbar-right">
											<button class="btn btn-default navbar-btn"
												ng-show="evaluate.enabled" ng-click="evaluate.enabled = false;">
												<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
											</button>
											<button class="btn btn-default navbar-btn"
												ng-show="!evaluate.enabled" ng-click="evaluate.enabled = true;">
												<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
											</button>
											<!-- 												<button class="btn btn-danger navbar-btn"
													ng-click="copyParametric(parametric)">
													<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
												</button>	 -->
											<button class="btn btn-danger navbar-btn"
												ng-click="removeEvaluate(evaluate)">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>
										</ul>

										<div class="form-group">
											<h4>Condizione:</h4>
											<br /> <label>Formula</label><input class="form-control"
												type="text" ng-model="evaluate.condition.formula"
												name="evaluateformula" required /> <br />
											<h4>Nuovi parametri richiesta esistente:</h4>
											<br /> <input type="checkbox"
												ng-model="evaluate.action.promoted" name="promoted"> <label>Sostenibile
											</label> </input> <input type="checkbox" ng-model="evaluate.action.wheelchair"
												name="wheelchair"> <label>Accessibile </label> </input> <br />

											<!-- <ul class="nav nav-pills" > -->

													<label>
														<div class="dropdown">
															Nuovo TType
															<button class="btn btn-default navbar-btn "
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{ evaluate.action.newTType }}<span class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="ttype in ttypes"
																	ng-click="evaluate.action.newTType = ttype"><a><strong>{{
																			ttype }}</strong></a>
															</ul>
														</div>
														</label>
													
													<a style="padding: 10px"></a>
													<label>
														<div class="dropdown">
															Nuovo RType
															<button class="btn btn-default navbar-btn"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{ evaluate.action.newRType }}<span class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="rtype in rtypes"
																	ng-click="evaluate.action.newRType = rtype"><a><strong>{{
																			rtype }}</strong></a>
															</ul>
														</div>
													</label>
													<label>
														<div class="dropdown">
															Numero di richieste
															<button class="btn btn-default navbar-btn"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{ evaluate.action.newItineraryNumber }}<span
																	class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="num in [null,1,2,3,4,5]"
																	ng-click="evaluate.action.newItineraryNumber = num"><a><strong>{{
																			num }}</strong></a>
															</ul>
														</div>
													</label>

													<label>
														<div class="dropdown">
															Gruppo
															<button class="btn btn-default navbar-btn"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{ evaluate.action.planningResultGroupName }}<span
																	class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="groupName in getGroupNames()"
																	ng-click="evaluate.action.planningResultGroupName = groupName"><a><strong>{{
																			groupName }}</strong></a>
															</ul>
														</div>
														</label>
														<br/>
													
															<label>MaxWalkDistance<input 
																type="text" class="form-control"
																ng-model="evaluate.action.maxWalkDistance"
																name="maxWalkDistance" size="8" />
																</label>
														
													<label>MaxTotalWalkDistance<input
														class="form-control" type="text"
														ng-model="evaluate.action.maxTotalWalkDistance"
														name="maxTotalWalkDistance" size="8"/>
														</label>
													<label>MaxChanges<input
														class="form-control" type="text"
														ng-model="evaluate.action.maxChanges"
														name="maxChanges" size="2" />
														</label>
													<label>
														<div class="dropdown">
															ExtraTransport
															<button class="btn btn-default navbar-btn "
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																{{
																evaluate.action.extraTransport
																}}<span class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li ng-repeat="ttype in ttypes"
																	ng-click="evaluate.action.extraTransport = ttype"><a><strong>{{ ttype }}</strong></a>
															</ul>
														</div>
														</label>
													
											</div>
										</li>
										</form>
							</ul>
						</div>

						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<ul class="nav navbar-sm navbar-right">
									<button class="btn btn-default navbar-btn"
										ng-click="addEvaluate()">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
								</ul>
							</div>
						</nav>

					</div>





					<!--  -->


					<div id="filtertab" class="tab-pane">
						<h3>Filtri</h3>

							<div>
								<form id="filter-form">
									<label>Formule:</label>
									<li class="list-group-item"
										ng-repeat="formula in compileform.filter.formulas track by $index">

										<div class="input-group col-xs-11">
											<div class="container-fluid">
												<span class="input-group-btn"> <input
													class="form-control" type="text"
													ng-model="compileform.filter.formulas[$index]"
													name="filterformula" />
													<button class="btn btn-default"
														ng-show="compileform.filter.enabled[$index]"
														ng-click="toggleFormula($index)">
														<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
													</button>
													<button class="btn btn-default"
														ng-show="!compileform.filter.enabled[$index]"
														ng-click="toggleFormula($index)">
														<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
													</button>

													<button class="btn btn-default"
														type="button" ng-click="removeFilterFormula(formula)">
														<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
														</button>
												</span>


												<!-- 													<button class="btn btn-danger navbar-btn"
														ng-click="removeFilterFormula(formula)">
														<span class="glyphicon glyphicon-remove"
															aria-hidden="true"></span>
													</button>	 -->
											</div>
										</div>
									</li>



									<div class="dropdown">
										<label>Ordina per [???]</label>
										<button class="btn btn-default navbar-btn"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											{{ compileform.filter.sortType }}<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li ng-repeat="stype in stypes"
												ng-click="compileform.filter.sortType = stype"><a><strong>{{
														stype }}</strong></a></li>
										</ul>
									</div>

									<div class="dropdown">
										<label>Numero di risultati da mantenere</label>
										<button class="btn btn-default navbar-btn"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											{{ compileform.filter.keep }}<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li ng-repeat="num in [1,2,3,4,5]"
												ng-click="compileform.filter.keep = num"><a><strong>{{
														num }}</strong></a></li>
										</ul>
									</div>


									<nav class="navbar navbar-default">
										<div class="container-fluid">
											<ul class="nav navbar-sm navbar-right">
												<button class="btn btn-danger navbar-btn"
													ng-click="addFilterFormula()">
													<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
												</button>
											</ul>
										</div>
									</nav>





								</form>
							</div>
						</div>




					<!--  -->
					<div id="groupstab" class="tab-pane">
						<h3>Gruppi</h3>
						<div>
							<ul class="list-group">
								<form id="group-form">
									<li class="list-group-item"
										ng-repeat="group in compileform.groups track by $index">

										<ul class="nav navbar-sm navbar-right">
											<button class="btn btn-default navbar-btn"
												ng-show="group.enabled" ng-click="group.enabled = false;">
												<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
											</button>
											<button class="btn btn-default navbar-btn"
												ng-show="!group.enabled" ng-click="group.enabled = true;">
												<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
											</button>
											<!-- 												<button class="btn btn-danger navbar-btn"
													ng-click="copyParametric(parametric)">
													<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
												</button>	 -->
											<button class="btn btn-danger navbar-btn"
												ng-click="removeGroup(group)">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>
										</ul>

										<div class="form-group">
											<label> Nome </label> <input class="form-control" type="text"
												ng-model="group.name" name="name" />
											<div class="dropdown">
												<label>Numero di risultati</label>
												<button class="btn btn-default navbar-btn"
													data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false">
													{{ group.maxEntries }}<span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li ng-repeat="num in [1,2,3,4,5]"
														ng-click="group.maxEntries = num"><a><strong>{{
																num }}</strong></a></li>
												</ul>
											</div>

											<div class="dropdown">
												<label>Ordina per</label>
												<button class="btn btn-default navbar-btn"
													data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false">
													{{ group.sortType }}<span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li ng-repeat="stype in stypes"
														ng-click="group.sortType = stype"><a><strong>{{
																stype }}</strong></a></li>
												</ul>
											</div>
										</div>
						</div>

						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<ul class="nav navbar-sm navbar-right">
									<button class="btn btn-default navbar-btn"
										ng-click="addGroup()">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
								</ul>
							</div>
						</nav>
						<!-- </ng-form> -->
					</div>


				</div>
			</div>
		</div>
	</div>
</div>