<div class="row">
	<div class="col-md-8 col-md-offset-3">
    <h2>Smart Planner</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
		  <div class="panel-heading">
        <h3 class="panel-title">Pianifica un viaggio</h3>
		  </div>
		  <div class="panel-body">
		    <form>
				  <div class="form-group">
				    <label for="from">Da</label>
				    <div class="input-group">
				    <input type="text" class="form-control" ng-disabled="!useCoordinates" ng-change="changeAddress(fromMarker)" id="from" ng-model="fromMarker.address" placeholder="Da...">
            <span class="input-group-btn">
              <button ng-click="fromCurrent(fromMarker)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span></button>
            </span>
				    </div>
				  </div>
          <div class="form-group">
            <label for="to">A</label>
            <div class="input-group">
            <input type="text" class="form-control" id="to" ng-disabled="!useCoordinates" ng-change="changeAddress(toMarker)" ng-model="toMarker.address" placeholder="A...">
            <span class="input-group-btn">
              <button ng-click="toCurrent()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span></button>
            </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="checkbox"><label><input type="checkbox" ng-click="changeAddressModality()">Inserisci direttamente le coordinate</label></div>
            </div>
          </div>
          
          <div class="row">
			        <div class="col-md-6">
			            <p class="input-group" style="margin-top:34px;">
			              <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="mydate" is-open="opened" ng-required="true" close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
			        </div>
              <div class="col-md-6">
                <timepicker ng-model="mytime" ng-change="changed()" hour-step="1" minute-step="15" show-meridian="false"></timepicker>              
              </div>
			    </div>
          
          <div class="row">
            <div class="col-md-6">
              <div class="checkbox"><label><input type="checkbox" ng-model="means.WALK">A piedi</label></div>
              <div class="checkbox"><label><input type="checkbox" ng-model="means.BIKE">In bicicletta</label></div>
              <div class="checkbox"><label><input type="checkbox" ng-model="means.SHAREDBIKE">Con Bike Sharing</label></div>
		          <div class="checkbox"><label><input type="checkbox" ng-model="means.TRANSIT">Con mezzi pubblici</label></div>
              <div class="checkbox"><label><input type="checkbox" ng-model="means.CAR">In automobile</label></div>
              <div class="checkbox"><label><input type="checkbox" ng-model="means.SHAREDCAR">Con Car Sharing</label></div>
            </div>
            <div class="col-md-6">
              <div class="radio"><label><input type="radio" ng-model="mode" name="mode" id="modeF" value="fastest" checked>Più veloce</label></div>            
              <div class="radio"><label><input type="radio" ng-model="mode" name="mode" id="modeLC" value="leastChanges">Con meno cambi</label></div>            
              <div class="radio"><label><input type="radio" ng-model="mode" name="mode" id="modeLW" value="leastWalking">Camminando meno</label></div>            
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
	          <button type="button" class="btn btn-default" ng-click="reset()">Cancella</button>
	          <button type="submit" class="btn btn-primary" ng-click="plan()">Invia</button>

            <button type="button" id="reqbutton" class="btn btn-info pull-right" ng-disabled="!fromMarker || !toMarker" ng-click="request()">?</button>
            </div>
          </div>
				</form>
		  </div>
		</div>
	</div>
	<div class="col-md-7">
	  <div id="map"></div>
	</div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Punti di interesse</h3>
      </div>
      <div class="panel-body">
         <div class="row">
           <div class="col-md-12">
             <div class="checkbox"><label><input type="checkbox" ng-click="toggleLayer('PARKING')" ng-model="layers.PARKING.show">Parcheggi</label></div>
             <div class="checkbox"><label><input type="checkbox" ng-click="toggleLayer('BIKESHARING')" ng-model="layers.BIKESHARING.show">Bike sharing</label></div>
           </div>
         </div>
      </div>
    </div>
  </div>
	
</div>
<div class="row">
  <div class="col-md-3">
<!--           <div> -->
<!--           <a href="" ng-click="showPlan(plan)"> -->
<!--           <div class="row"> -->
<!--             <div class="col-md-2 text-center"> -->
<!--               <div>10:00</div> -->
<!--               <div>|</div> -->
<!--               <div>12:00</div> -->
<!--             </div> -->
<!--             <div class="col-md-10"> -->
<!--               <div class="tt thumbnail col-md-2"> -->
<!-- 					      <img src="img/ic_mt_bus.png" > -->
<!-- 					      <div class="text-center"><div>aaa</div><div>eee</div></div> -->
<!-- 					    </div> -->
            
<!--               <div class="col-md-3 text-center"> -->
<!--                   <img ng-src="img/ic_mt_bus.png"/> -->
<!--                   <span>note</span> -->
<!--               </div> -->
<!--               <div class="col-md-2  text-center"> -->
<!--                   <img ng-src="img/ic_mt_car.png"/> -->
<!--                   <span>note</span> -->
<!--               </div> -->
<!--             </div> -->
<!--           </div> -->
<!--           </a> -->
<!--         </div> -->
  
    <table class="table table-bordered">
      <tr ng-repeat="plan in plans">
        <td ng-class="{'success':plan.promoted}">
		    <div ng-class="{'itinerary-selected':$index == currentItinerary.index}">
		      <a href="" ng-click="showPlan(plan)">
		      <div class="row">
		        <div class="col-md-2 text-center" style="min-height: 100px;">
		          <div>{{toTime(plan.startime)}}</div>
		          <div style="position: absolute; bottom: 0;">{{toTime(plan.endtime)}}</div>
		        </div>
		        <div class="col-md-10">
              <div class="row">
                <div class="col-md-12 text-right">
                <small class="text-muted text-center">{{plan.length}}km</small>
                <small class="text-muted text-center" ng-if="plan.price > 0">/ {{plan.price}} EUR</small>
                </div>
              </div>
		          <div class="row">
			          <div class="tt thumbnail col-md-2" ng-repeat="mean in plan.means">
	                <img ng-src="{{mean.img}}" >
	                <div class="text-center">
	                  <div ng-repeat="n in mean.note">{{n}}</div>
	                </div>
	              </div>
              </div>
		        </div>
		      </div>
		      </a>
		    </div>
		    </td>
      </tr>
    </table>
  </div>
  <div class="col-md-8">
    <div ng-if="errorMsg != null"><h4>{{errorMsg}}</h4></div>
    <div class="row" ng-if="currentItinerary != null">
      <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
        <div>
        <div class="row green-header" ng-if="currentItinerary.promoted">
          <div class="col-md-12">
             Itinerario sostenibile
             <span class="glyphicon glyphicon-leaf pull-right" aria-hidden="true"></span>
          </div>
        </div>
        <!-- START -->
        <div class="row leg">
          <div class="col-md-1 start-leg">
            <img src="img/ic_point_outline.png">
          </div>
          <div class="col-md-2">{{toTime(currentItinerary.startime)}}</div>
          <div class="col-md-9">{{requestedFrom}}</div>
        </div>
        <!-- ROW -->
        <div class="row leg" ng-repeat="step in currentItinerary.steps">
          <div class="col-md-1">
            <img src="img/ic_point.png">
          </div>
          <div class="col-md-2">{{toTime(step.startime)}}</div>
          <div class="col-md-7 inter-leg">
            <p ng-if="step.action">{{step.action}}<strong ng-if="step.actionDetails">{{step.actionDetails}}</strong></p>
            <p ng-if="step.from != null">{{step.fromLabel}}<strong>{{step.from}}</strong></p>
            <p ng-if="step.to != null">{{step.toLabel}}<strong>{{step.to}}</strong></p>
            <p ng-if="step.parking && step.parking.cost">
               <img src="img/ic_price_parking.png"/>{{step.parking.cost}}
            </p>
            <p ng-if="step.parking && step.parking.time">
               <img src="img/ic_look_for_parking.png"/>{{step.parking.time}}
            </p>
          </div>
          <div class="col-md-2">
             <div class="tt thumbnail">
                <img ng-src="{{step.mean.img}}" >
                <div class="text-center" ng-if="step.length > 0">
                  <div><small>{{step.length}}km</small></div>
                </div>
                <div class="text-center" ng-if="step.cost > 0">
                  <div><small>{{step.cost}} EUR</small></div>
                </div>
              </div>
          </div>
        </div>
        <!-- END -->
        <div class="row leg">
          <div class="col-md-1 end-leg"><img src="img/ic_point_outline.png"></div>
          <div class="col-md-2">{{toTime(currentItinerary.endtime)}}</div>
          <div class="col-md-9">{{requestedTo}}</div>
        </div>
        </div>
			  </div>
			</div>
      </div>
    </div>
  </div>
</div>