<div id="parametricModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{actionMsg}} politica</h3>
			</div>
			<div class="modal-body">
				<ul class="list-group">
					<form id="policy-form" ng-submit="saveParametricPolicy()" >
					<label>Nome</label><input class="form-control" type="text"
									ng-model="policyformname" name="parametricName" /> 
					<label>Descrizione</label><input class="form-control" type="text"
									ng-model="policyformdescription" name="parametricDescription" /> 									
						<li class="list-group-item" ng-repeat="parametric in parametrics" >
								<nav class="navbar nav-pills">
									<div class="container-fluid">
									<ul class="nav navbar-sm navbar-left">
									
										<h4>
								<span ng-if="policyformtype == 'generate'" class="glyphicon glyphicon-globe" aria-hidden="true"></span>
								<span ng-if="policyformtype == 'modify'" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
								<span ng-if="policyformtype == 'evaluate'"class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
								<span ng-if="policyformtype == 'filter'"class="glyphicon glyphicon-filter" aria-hidden="true"></span>
								<span ng-if="policyformtype == 'group'"class="glyphicon glyphicon-th" aria-hidden="true"></span>										
										Parametric-{{ policyformtype }}</h4>
										<em>{{ parametric }}</em>
									</ul>
									<ul class="nav navbar-sm navbar-right">
										<button class="btn btn-success navbar-btn" ng-click="policyformok = true; $scope.$apply()">
										<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
										</button>
										<!-- <button class="btn btn-danger navbar-btn" ng-click="parametric = {'type' : policyformtype}">
										<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
										</button> -->																			
										<button class="btn btn-danger navbar-btn" ng-click="removeParametric(parametric)">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>
									</ul>
								</nav>									
								

							<div class="form-group" ng-if="policyformtype == 'generate'" >
								<label>Condizione:</label><br/>
								<label>Formula</label><input class="form-control" type="text"
									ng-model="policyformcondition.formula" name="condition" /> 
								<br/><label>Valori:</label><br/>	
								<input
									type="checkbox" ng-model="policyformaction.inherit" name="inherit">
								<label><em>Eredita proprietà</em></label> </input> 
								<input
									type="checkbox" ng-model="policyformaction.promoted" name="promoted">									
								<label>Sostenibile </label> </input>
								<input
									type="checkbox" ng-model="policyformaction.wheelchair" name="wheelchair">									
								<label>Accessibile </label> </input> <br />																	

								<ul class="nav nav-pills role="tablist">

									<li role="presentation">
										<div class="dropdown">
											<label>Nuovo TType</label>
											<button class="btn btn-default navbar-btn "
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"">
												{{ policyformaction.newTType }}<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li ng-repeat="ttype in ttypes"
													ng-click="policyformaction.newTType = ttype"><a><strong>{{
															ttype }}</strong></a></li>
											</ul>
										</div>
									</li>
									<a style="padding:10px"></a>
									<li role="presentation">
										<div class="dropdown">
											<label>Nuovo RType</label>
											<button class="btn btn-default navbar-btn"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"">
												{{ policyformaction.newRType }}<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li ng-repeat="rtype in rtypes"
													ng-click="policyformaction.newRType = rtype"><a><strong>{{
															rtype }}</strong></a></li>
											</ul>
										</div>
									</li>
									<li role="presentation">
										<div class="dropdown">
											<label>Numero di richieste</label>
											<button class="btn btn-default navbar-btn"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"">
												{{ policyformaction.newItineraryNumber }}<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li ng-repeat="num in [null,1,2,3,4,5]"
													ng-click="policyformaction.newItineraryNumber = num"><a><strong>{{
															num }}</strong></a></li>
											</ul>
										</div>
									</li>	
									
									<li role="presentation">
										<div class="dropdown">
											<label>Gruppo</label>
											<button class="btn btn-default navbar-btn"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"">
												{{ policyformaction.planningResultGroupName }}<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li ng-repeat="groupName in getGroupNames()"
													ng-click="policyformaction.planningResultGroupName = groupName"><a><strong>{{
															groupName }}</strong></a></li>
											</ul>
										</div>
									</li>									
																	
								</ul>
							</div>

							<div class="form-group" ng-if="policyformtype == 'modify'">
								<label>Condizione:</label><br/>
								<label>Formula</label><input class="form-control" type="text"
									ng-model="policyformcondition.formula" name="condition" /> 								
<!-- 								<input
									type="checkbox" ng-model="policyformcondition.promoted" name="promoted">									
								<label>Sostenibile </label> </input> -->
								<br/><label>Valori:</label><br/>
								<div ng-repeat="smartplannerParameter in smartplannerParameters">
									<label>{{ smartplannerParameter }}</label>
									<input class="form-control" type="text"
										ng-model="policyformsmartplannerParameters[smartplannerParameter]" name="name" />									
								</div>
								
								<ul class="nav nav-pills role="tablist">

									<li role="presentation">
										<div class="dropdown">
											<label>Nuovo TType</label>
											<button class="btn btn-default navbar-btn "
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"">
												{{ policyformnewTType }}<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li ng-repeat="ttype in ttypes"
													ng-click="policyformaction.newTType = ttype"><a><strong>{{
															ttype }}</strong></a></li>
											</ul>
										</div>
									</li>
									<a style="padding:10px"></a>
									<li role="presentation">
										<div class="dropdown">
											<label>Nuovo RType</label>
											<button class="btn btn-default navbar-btn"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"">
												{{ policyformnewRType }}<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li ng-repeat="rtype in rtypes"
													ng-click="policyformaction.newRType = rtype"><a><strong>{{
															rtype }}</strong></a></li>
											</ul>
										</div>
									</li>
									<li role="presentation">
										<div class="dropdown">
											<label>Numero di richieste</label>
											<button class="btn btn-default navbar-btn"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"">
												{{ policyformnewItineraryNumber }}<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li ng-repeat="num in [null,1,2,3,4,5]"
													ng-click="policyformaction.newItineraryNumber = num"><a><strong>{{
															num }}</strong></a></li>
											</ul>
										</div>
									</li>	
									
									<li role="presentation">
										<div class="dropdown">
											<label>Gruppo</label>
											<button class="btn btn-default navbar-btn"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"">
												{{ policyformplanningResultGroupName }}<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li ng-repeat="groupName in getGroupNames()"
													ng-click="policyformaction.planningResultGroupName = groupName"><a><strong>{{
															groupName }}</strong></a></li>
											</ul>
										</div>
									</li>										
									
									
									</ul>
																	
								
								
								
							</div>
							
							<div class="form-group" ng-if="policyformtype == 'evaluate'">
																
							</div>	
							
							<div class="form-group" ng-if="policyformtype == 'filter'">
								<label> Formula </label><input class="form-control" type="text"
									ng-model="policyformformula" name="formula" />
							</div>							
													
							<div class="form-group" ng-if="policyformtype == 'group'">
								<label> Nome </label><input class="form-control" type="text"
									ng-model="policyformname" name="name" />
								
							</div>								
							
							
						</li>
						
						<ul class="nav nav-pills">
							<li>
								<div class=" form-group">
									<button class="btn btn-primary navbar-btn" ng-click="submit">
										Salva</button>
								</div>
							</li>
							<li>
								<div class=" form-group">
									<button class="btn btn-primary navbar-btn" data-dismiss="modal"">
										Chiudi</button>
								</div>
							</li>
						</ul>
	
						<div>
							<span ng-bind="message" class="notification-ok"></span>
							<span ng-bind="error" class="notification-error"></span>
							<span>&nbsp;</span>
						</div>						
						
						
						
						
						
					</form>
				</ul>

				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<ul class="nav navbar-sm navbar-right">


							<button class="btn btn-default navbar-btn" ng-click="addNewParametric('generate')">
								<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
							</button>
							<button class="btn btn-default navbar-btn" ng-click="addNewParametric('modify')">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</button>
							<button class="btn btn-default navbar-btn" ng-click="addNewParametric('evaluate')">
								<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
							</button>
							<button class="btn btn-default navbar-btn" ng-click="addNewParametric('filter')">
								<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
							</button>
							<a style="padding:10px"></a>
							<button class="btn btn-default navbar-btn" ng-click="addNewParametric('group')">
								<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
							</button>			
							<ui></ui>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>



