#include ("imports.vm")
#macro(null $check)
#if(!$check)null#else${check}#end
#end
##List extractItinerariesFromPlanResults(journeyRequest, planRequests) {
	def remaining = PlanningPolicyHelper.filterByGroups(planRequests);
	return remaining;
##}

